<div class="panel panel-default">
  <div class="panel-heading">Latest deposits</div>
  <div class="panel-body">

    <table class="table table-striped table-hover">
      <!-- <caption>Everyone</caption> -->
      <thead>
        <tr>
          <th>Quantity</th>
          <th>Category</th>
        </tr>
      </thead>
      <tbody id="latest-deposits"></tbody>
    </table>

  </div>
</div>

<script type="text/javascript">
  var makeEl = function(el, string) {
    return '<' + el + '>' + string + '</' + el + '>';
  };

  setInterval(function() {
    $.getJSON('/deposits/latest', function(deposits) {
      var html = '';
      for (var i = 0; i < deposits.length; i++) {
        var dep = deposits[i];

        var cells = [
          makeEl('td', dep.quantity + ' ' + dep.unit),
          makeEl('td', dep.category)
        ];

        html += makeEl('tr', cells.join(''));
      }
      $('#latest-deposits').html(html);
    });
  }, 500);
</script>
